/*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp Q             &kp W               &kp E           &kp R           &kp T           &kp Y      &kp U            &kp I            &kp O        &kp P
&mt LEFT_SHIFT A  &mt LEFT_CONTROL S  &mt LEFT_ALT D  &mt LEFT_GUI F  &kp G           &kp H      &mt RIGHT_GUI J  &mt RIGHT_ALT K  &mt RCTRL L  &mt RIGHT_SHIFT SEMICOLON
&lt 1 Z           &lt 2 X             &kp C           &kp V           &kp B           &kp N      &kp M            &kp COMMA        &lt 1 DOT    &lt 2 SLASH
                                      &kp BACKSPACE   &kp LEFT_GUI    &lt 1 ESCAPE    &lt 2 TAB  &kp ENTER        &kp SPACE
            >;
        };

        layer1 {
            bindings = <
&kp EXCLAMATION  &kp AT     &kp HASH    &kp DLLR          &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR          &kp RPAR
&kp N1           &kp N2     &kp N3      &kp N4            &kp N5       &kp N6     &kp N7     &kp N8     &kp N9            &kp N0
&kp GRAVE        &kp TILDE  &kp LEFT    &kp RIGHT         &kp EQUAL    &kp MINUS  &kp UP     &kp DOWN   &kp LEFT_BRACKET  &kp RIGHT_BRACKET
                            &kp DELETE  &kp LEFT_CONTROL  &trans       &mo 3      &kp ENTER  &kp SPACE
            >;
        };

        layer2 {
            bindings = <
&kp TAB        &kp PLUS   &kp F20     &kp F20           &kp F20    &kp F20    &kp AMPR     &kp ASTR          &kp LPRN           &kp MINUS
&kp ESCAPE     &kp EQUAL  &kp F20     &kp F20           &kp F20    &kp MINUS  &kp EQUAL    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SINGLE_QUOTE
&kp BACKSLASH  &kp PIPE   &kp HOME    &kp END           &kp F20    &kp UNDS   &kp PAGE_UP  &kp PAGE_DOWN     &kp LEFT_BRACKET   &kp RIGHT_BRACKET
                          &kp DELETE  &kp LEFT_CONTROL  &mo 3      &trans     &kp ENTER    &kp RIGHT_ALT
            >;
        };

        layer3 {
            bindings = <
&kp F20  &kp F20  &kp F20  &kp F20  &kp F20         &kp F20    &kp F20                          &kp F20  &kp F20    &kp F20 RGB_HUI RGB_SAI RGB_VAI
&kp F20  &kp F20  &kp F20  &kp F20  &kp F20         &kp F20    &kp F20 RGB_HUD RGB_SAD RGB_VAD  &kp F20  &kp F20    &kp F20
&kp F20  &kp F20  &kp F20  &kp F20  &kp LEFT_GUI    &kp SPACE  &trans                           &trans   &kp ENTER  &kp RIGHT_ALT
            >;
        };
    };
};
